# Node modules
node_modules/

# Logs
*.log

# Cache
cache/
telemetry/cache/

# Database
*.db
*.sqlite

# Environment files
.env

# Python
__pycache__/
venv/

# C build files
*.o
*.out
*.exe
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary files
tmp/
temp/

# API keys
keys/
secret/
